<div class="jumbotron">
    <h1 class="text-center">Controle de Usuários</h1>
</div>
<!-- novidade, a row com o campo de busca -->
 <div class="row">
     <div class="col-md-12">
     <form>
         <div class="input-group">
             <span class="input-group-btn">
                 <a href="#/usuario/new" class="btn btn-primary" type="button">
                     Novo Usuário
                 </a>
             </span>
             <input id="txSearchName" class="form-control" ng-model="filtro" placeholder="filtrar pelo nome">
        </div
     </form>
     </div> <!-- fim col-md-12 -->
 </div> <!-- fim row -->
<div class="row">
    <meu-painel ng-repeat="user in users | filter: filtro | orderBy : 'name'" titulo="{{user.name}} {{user.lastName}}">
        <img class="img-responsive center-block" height="20%" width="20%" src="{{user.photoUrl}}">
    </meu-painel><!-- fim panel-body -->
</div><!-- fim panel panel-default -->
